MAIL_HOSTNAME=mail.ds-mail.p-e.kr
MAIL_DOMAINS=ds-mail.p-e.kr post.ds-mail.p-e.kr
MAIL_FROM=mailbox@ds-mail.p-e.kr
MAIL_DEFAULT_DOMAIN=ds-mail.p-e.kr

SMTP_PORT=25
IMAP_PORT=143
MAIL_WEB_PORT=18080

MYNETWORKS=127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16
