MAIL_SMTP_RECEIVER_IMAGE=ghcr.io/junsungkang/mail-server-smtp-receiver:v1.0.0
MAIL_IMAP_MAILBOX_IMAGE=ghcr.io/junsungkang/mail-server-imap-mailbox:v1.0.0
MAIL_WEBMAIL_UI_IMAGE=ghcr.io/junsungkang/mail-server-webmail-ui:v1.0.0

MAIL_HOSTNAME=mail.ds-mail.p-e.kr
MAIL_DOMAINS=ds-mail.p-e.kr post.ds-mail.p-e.kr
MAIL_FROM=mailbox@ds-mail.p-e.kr
MAIL_DEFAULT_DOMAIN=ds-mail.p-e.kr

SMTP_PORT=25
IMAP_PORT=143
MAIL_WEB_PORT=18080

MYNETWORKS=127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16

MAILBOX_VOLUME=mailbox-store
SMTP_QUEUE_VOLUME=smtp-queue-store
WEBMAIL_DATA_VOLUME=webmail-data-store
MAIL_BACKUP_DIR=/srv/mail-server/backups
